{% extends "base.html" %}
{% block title %}Homepage | FakeIMDB{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container">
		<div class="row">
			{% for movie in movies %}
				
				<div class="col l3 s6">
					<div class="card medium">
						<div class="card-image">
							<img src="{{movie.small_img}}">
							<span class="card-title">{{movie.title}}</span>
						</div>
						<div class="card-content">
							<p>{{movie.desc | truncatechars:100 }}</p>
						</div>
						<div class="card-action blue-text">
							<a class="green-text" href="{% url 'movie' movie.id %}"><i class="material-icons">edit</i> Reviews</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
