{% extends "base.html" %}
{% block title %}{{review.title}} | FakeIMDB{% endblock %}
{% block content %}
	<div class="container">
		<div class="row  mt-4">
			<div class="col-3">
				<img src="{{review.movie.big_img}}" class="bigimage" alt="...">
				<hr>
				<p class="card-text">{{review.movie.desc}}</p>
			</div>
			<div class="col-9">
				<h2>{{review.movie.title}} <span class="h4">({{review.movie.pub_date}})</span></h2>
				<h3>A review by {{review.user.first_name}} {{review.user.last_name}}</h3>
				<hr>
				<div class="card mt-4">
					<div class="card-header d-flex justify-content-between">
						<div>{{review.title}}</div>
						<div>Rating: {{review.rating}}/10</div>
					</div>
					<div class="card-body d-flex justify-content-between">
						<blockquote class="blockquote mb-0">
							<p>{{review.content}}</p>
						<footer class="blockquote-footer"><cite title="Source Title">{{review.pub_date | timesince}} ago</cite></footer>
					</blockquote>
					<div>
						<a href="{% url 'upvote' review.id %}" class="btn btn-sm btn-outline-success">up</a>
						<a href="{% url 'downvote' review.id %}" class="btn btn-sm btn-outline-danger">down</a>
						<span>Review Score: {{review.votes}}</span>
					</div>
				</div>
				<a class="btn btn-outline-dark"href="{% url 'comment' review.id%}">Comment</a>
			</div>
			{% for comment in review.reviewcomment_set.all %}
				<div class="card">
					<div class="card-body">
						<blockquote class="blockquote mb-0">
							<p>{{comment.content}}</p>
						<footer class="blockquote-footer">{{comment.user.first_name}} {{comment.user.last_name}}<cite title="Source Title">{{comment.pub_date | timesince}} ago</cite></footer>
					</blockquote>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
</div>
{% endblock %}