{% extends "base.html" %}
{% block title %}{{review.movie.title}} | FakeIMDB{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col s3 push-s9">
				<img src="{{review.movie.big_img}}" class="bigimage" alt="...">
				<hr>
				<p class="card-text">{{review.movie.desc}}</p>
			</div>
			<div class="col s9 pull-s3">
				<h2>{{review.movie.title}} <span class="h4">({{review.movie.pub_date}})</span></h2>
				<h3>A review by {{review.user.first_name}} {{review.user.last_name}}</h3>
				<hr>
				<div class="card mt-4">
					<div class="card-header d-flex justify-content-between">
						<div>{{review.title}}</div>
						<div>Rating: {{review.rating}}/10</div>
					</div>
					<div class="card-body d-flex justify-content-between">
						<blockquote class="blockquote mb-0">
							<p>{{review.content}}</p>
						<footer class="blockquote-footer"><cite title="Source Title">{{review.pub_date | timesince}} ago</cite></footer>
					</blockquote>
					<div class="ml-4">
							<div class="d-flex">
								<a href="{% url 'upvote' review.id %}" class="btn btn-sm btn-outline-success"><img src="https://img.icons8.com/material-two-tone/30/000000/thumb-up.png"></a>
						<a href="{% url 'downvote' review.id %}" class="btn btn-sm btn-outline-danger"><img src="https://img.icons8.com/material-two-tone/30/000000/thumbs-down.png"></a>
					</div>
						<h6>Review Score: {{review.votes}}</h6>
						</div>
				</div>
				<a class="btn btn-outline-dark" data-toggle="collapse" href="#comment" role="button" aria-expanded="false" aria-controls="comment">Comment</a>
				<div class="row">
					<div class="col">
						<div class="collapse multi-collapse" id="comment">
							<form method="post" action="{% url 'comment' review.id %}">
								{% csrf_token %}
								<div class="form-group">
									<textarea class="form-control" id="content" name="content" rows="3"></textarea>
								</div>
								<button type="submit" class="btn btn-sm btn-outline-dark">Submit</button>
							</form>
						</div>
					</div>
				</div>
				{% for comment in review.reviewcomment_set.all %}
					<div class="card">
						<div class="card-body">
							<blockquote class="blockquote mb-0">
								<p>{{comment.content}}</p>
							<footer class="blockquote-footer">{{comment.user.first_name}} {{comment.user.last_name}}, <cite title="Source Title">{{comment.pub_date | timesince}} ago</cite></footer>
						</blockquote>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}