{% extends "base.html" %}
{% block title %}{{review.movie.title}} | FakeIMDB{% endblock %}
{% block content %}
	<div class="container">
		<div class="row mt3">
			<div class="col s12 l3 ">
				<img src="{{review.movie.big_img}}" class="bigimage" alt="...">
				<hr>
				<p class="card-text">{{review.movie.desc}}</p>
			</div>
			<div class="col l9 s12 ">
				<h2>{{review.movie.title}} <span class="h4">({{review.movie.pub_date}})</span></h2>
				<h3>A review by {{review.user.first_name}} {{review.user.last_name}}</h3>
				<hr>

				<div class="card green lighten-4">
						<div class="card-content ">
							<span class="card-title ">{{review.title}}</span>
							<h6>Rating: {{review.rating}}/10</h6>
							<p>{{review.content}}</p>
							
							<p>- {{review.user.first_name | capfirst}} {{review.user.last_name | capfirst}} <cite title="Source Title">, {{review.pub_date | timesince}} ago</cite></p>
						</div>
						<div class="card-action ">
							<a class="black-text">Review Score: {{review.votes}}</a>
							<a href="{% url 'upvote' review.id %}" class="ml1 right btn waves-effect waves-light green btn-small"><i class="material-icons">exposure_plus_1</i></a>
							<a href="{% url 'downvote' review.id %}" class="ml1 right btn waves-effect waves-light red btn-small"><i class="material-icons">exposure_neg_1</i> </a>
						
						</div>
					</div>
				
				
				<ul class="collapsible">
					<li>
						<div class="collapsible-header green lighten-5"><i class="material-icons">filter_drama</i>Comment</div>
						<div class="collapsible-body">
							<form method="post" action="{% url 'comment' review.id %}">
								{% csrf_token %}
								<div class="input-field inline">
									<textarea class="materialize-textarea black-text" id="content" name="content" ></textarea>
									<label for="content">Comment</label>
								</div>
								<button type="submit" class="green btn btn-sm btn-outline-dark">Submit</button>
							</form>
						</div>
					</li>
				</ul>
				{% for comment in review.reviewcomment_set.all %}
					<div class="card z-depth-3">
						<div class="card-body">
							<blockquote class="green lighten-5 blockquote">
								<p>{{comment.content}}</p>
							<footer class="blockquote-footer">{{comment.user.first_name}} {{comment.user.last_name}}, <cite title="Source Title">{{comment.pub_date | timesince}} ago</cite></footer>
						</blockquote>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('.collapsible').collapsible();
});</script>
{% endblock %}